.home-card{
    margin-top: 2vh;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    background-color: whitesmoke;
    height: 90vh;
    overflow-y: hidden;
}
.card-home{
    display: flex;
    /* justify-content: space-betw; */
    align-items: center;
    border: 0.1vw solid #969696;
    margin-bottom: 5vw;
/* border-radius: 0.2vw; */
    box-shadow: 0.1vh 0.1vh 0.7em grey; 
    margin: 2vw;
    border-radius: 0.2vw;
    background-color: white;

}
.home-row{
    overflow-y: scroll;
    height: 80%;
    padding-bottom: 5%;
}
.home-image{
    width: 90%;
    height: auto;
    /* height: 100%; */
    margin: 5%;
    
}
.home-content{
    text-align: left;
}
.home-image1{
    width: 100%; 
    height: 50vh;
    /* width: auto; */
}
.home-row1{
width: 80%;
border-width: 0.2vw;
border-color: black;
margin-top: 2vh;
background-color: green; 
border-radius: 0.2vw;
margin-left: 10%;
border: 0.1vw solid #969696;
/* border-radius: 0.2vw; */
box-shadow: 0.1vh 0.1vh 0.7em black; 
height: 80%;
padding: 1vw;
overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0.2vw;
    height: 3vh;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2vw grey; 
    border-radius: 0.2vw;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: orange; 
    border-radius: 0.2vw;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: blue; 
  }

  /* home styling */ 
.div-home{
    display: flex;
    background-color: rgb(189, 177, 177);
    justify-content: space-between; 
    padding: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    height: fit-content;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 4vh;
}
.div-home1{
    background-color: rgb(189, 177, 177);
    border: none;
    font-size: 1.2vw;
}
.div-home2 input{
    border: none;
    font-size: 1vw;
    padding: 0.1vw;
}
.avatar-div{
    width: 3vw;
    height: 3vw;
    background-color: red;
}
.avatar-image{
    height: 100%; 
    width: 100%;
}
.post-div{
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vw;
}
.post-div2{
    margin-left: 20%;
    /* font-size: 1.2vw; */
}
.post-div2 input{
    font-size: 1vw;
    background-color: rgb(241, 237, 237);
    border: none;
    padding: 0.5vw;
}

.map-center{
    background-color: red;
    width: 4vw;
    height: 4vw;
   margin-left: 49%;
}
.center-map{
    background-color: red;
    width: 4vw;
    height: 4vw;
   margin-left: 40%;
   margin-top: 70vh;
}
.button-map{
    background-color: purple;
    height: 20vh;
    width: 15vw;
    /* border-radius: 50%; */
    box-shadow: 0.1vh 0.1vh 0.9em yellow;
    margin-top: 2vh;
}
.map-button{
    background-color: purple;
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    box-shadow: 0.1vh 0.1vh 0.9em yellow;
    margin-top: 2vh;
    /* aria-label: center back; */
}
.map-box{
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: 0%;
}
.map.div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 240, 205);
}
.alert-display{
    overflow-y: scroll;
}
.flex-alerts{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
button{
    background-color: green;
    padding: 1vh;
    border-radius: 1em;
    margin-right: 0%;
    box-shadow: 0.1vw 0.1vw 0.9em rgb(102, 102, 5);
}