.contact_container{
    /* width: 58%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-left: 21%;
    margin-right: 21%;
}

.contact_options{
   display: flex;
   flex-direction: column;
   gap: 1rem; 
}

.contact_option{
    background: var(--color-bg);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    color: var(--color-white);
}

.contact_option:hover{
    background: var(--color-font);
    border-color: var(--color-primary-variant);
}

.contact_icon{    
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--color-white);
}

.contact_option, a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white)
}

@media screen and (max-width: 1024px){
    .contact_container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
 }
 
@media screen and (max-width: 600px){
    .contact_container{
        width: var(--container-width-sm);
        margin: 1.2rem;
    }    
}
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Space+Grotesk:wght@100;200;300;400;500;600;700&display=swap");

/* * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
} */


:root {
  --color-bg: #007151;
  --color-bg-variant: #13144d;
  --color-primary: #f1f1f1;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-font: rgb(199, 171, 13);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

/* body {
  font-family: 'Space Grotesk', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-repeat: repeat;
} */

.container {
  max-width: var(--container-width-lg);
  margin: 0 auto;
}

/* h1,
h2, 
h3, 
h4, 
h5{
  font-weight: 500;
  color: var(--color-white);
} */

/* h1,
h2, 
h3, 
h4, 
h5:hover{
  font-weight: 500;
  color: var(--color-bg);
} */

h2 {
  font-size: 2.5rem;
  font-family: 'Oleo Script', cursive;
}

section, #contact {
  margin-top: 0rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  margin-left: 7rem;
}

/* section, #contact > h4 {
  text-align: center;
  color: var(--color-light);
} */

section, #contact > h4 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: var(--color-primary);
}

.text-light {
  color: var(--color-light);
}

.contact_option, a {
  color: var(--color-primary);
  transition: var(--transition);
}

.contact_option, a:hover {
  color: var(--color-font);
}


.contact_option, h4, h5 {
  color: var(--color-primary);
  transition: var(--transition);
}



.btn {
  background: var(--color-bg);
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-primary);
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-primary-variant);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-font);
  /* color: var(--color-); */
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h4 {
    margin-bottom: 2rem;
  }
  
}
