.container_faq {
    background-color: #007151;
    padding: 1.2rem 2.2rem 2.2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-left: 35%;
    margin-right: 15%;
}
  
.container_faq h2 {
    margin: 0 auto;
    text-align: center;
    padding: 1.2rem 0 2.2rem 0;
    color: white !important;
    margin-bottom: -3rem;
}
  
.question_btn {
    background: rgb(211, 216, 253);
    color: rgb(199, 171, 13);
    border: 0.1rem solid rgb(199, 171, 13) !important;
    border-radius: 0.5rem;
    font-size: 1.8rem;
}
  
.section_questions div,
.section_questions  p {
    background-color: teal !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .3rem;
    margin-left: -6rem;
    border-radius: 0.1rem
}
  
.section_questions  p {
    padding-bottom: -2rem;
}
  
.section_questions  > div.closed {
    margin-bottom: -3rem;
}

