.home-page{
    padding-top: 70px;
}

.home-title{
    font-size: 30px;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 120px;
    text-align: center;
    
}
.btn-primary {
    font-weight: bold;
    background-color: rgb(2, 110, 2);
    color: white;
}
.home-text{
    text-align: left;
    line-height: 2;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* width: 80%; */
}

.home .btn-primary{
    margin-top: 35px;
}

.home-image{
    width: 40%;
    margin-top: 130px;

}

/* Media */

@media screen and (max-width: 768px){
    .home-page{
        padding-top: 30px;
    }
    .home-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .home .btn-primary{
        width: 60%;
        margin-bottom: 20px;
    }
}



